/* CSS Geral para todas as telas */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container principal para todas as telas, exceto as de tabelas */
.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px; /* Aumentar o tamanho para melhor acomodar os botões */
    max-width: 100%;
    text-align: center; /* Centralizar o conteúdo */
}

/* Novo container específico para as páginas de tabelas */
.container-table {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px; /* Definir um tamanho maior para acomodar melhor a tabela */
    margin-top: 50px; /* Espaçamento superior */
}

/* Estilo do logotipo */
.logo {
    display: block;
    margin: 0 auto 20px auto;  /* Centraliza o logo e adiciona espaçamento inferior */
    max-width: 150px;  /* Define um tamanho máximo para o logotipo */
    height: auto;
}

/* Títulos */
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Grupos de input */
.input-group {
    margin-bottom: 15px;
}

/* Labels dos inputs */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Inputs */
input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Botões principais */
button, .button {
    width: 100%;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

button:hover, .button:hover {
    background-color: #218838;
}

/* Estilo para os botões da página inicial */
.button-group-home {
    display: flex;
    flex-direction: column; /* Coloca os botões um abaixo do outro */
    gap: 15px; /* Espaçamento entre os botões */
}

.button-home {
    /*width: 100%;  Botões ocupam toda a largura do container */
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button-home:hover {
    background-color: #0056b3;
}

/* Estilo específico para o botão de voltar */
.button-voltar {
    width: 90%;
    padding: 10px 20px;
    background-color: #6c757d; /* Cor mais suave para o botão de voltar */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.button-voltar:hover {
    background-color: #5a6268;
}

/* Estilo específico para o botão voltar das tabelas*/
.button-voltar-tabela {
    width: 95%;
    padding: 10px 20px;
    background-color: #6c757d; /* Cor mais suave para o botão de voltar */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s ease;

    /* Adicionar para centralizar o botão horizontalmente */
    margin-left: auto;
    margin-right: auto;
    display: block;  /* Certificar que o botão é tratado como um bloco */
}

.button-voltar-tabela:hover {
    background-color: #5a6268;
}

/* Resultado das calculadoras */
#resultado, #resultado_venda {
    margin-top: 20px;
    padding: 15px;
    background-color: #e9ecef;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    color: #333;
}

/* Estilização extra para o parágrafo de introdução */
p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
    text-align: center;
}

/* Estilo do rodapé */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f9;
    color: #666;
    font-size: 14px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e1e1e1;
}

.footer p {
    margin-bottom: 0px;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Estilo para a tabela de histórico */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 16px;
}

/* Estilo para as células da tabela */
.table th, .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

/* Estilo para o cabeçalho da tabela */
.table th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    text-align: center;
}

/* Linhas alternadas para facilitar a leitura */
.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo ao passar o mouse sobre as linhas */
.table tr:hover {
    background-color: #ddd;
}

/* Estilo para as células numéricas */
.table td {
    text-align: center;
}

/* Ajustar a responsividade */
@media (max-width: 600px) {
    .table th, .table td {
        font-size: 14px;
        padding: 8px;
    }
}

/* Ajustes da tabela */
.table {
    width: 100%; /* Fazer a tabela ocupar toda a largura */
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 16px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

/* Estilo para os botões de paginação */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #0056b3;
}